<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>House Attendance</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    
    <body id="house">
        <header class="jumbotron">
                <h1>TGIF</h1>
      <div class="header-email"><a href="mailto:info@tgif.net">info@tgif.net</a></div>
          </header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="navbar-nav mr-auto">
                        <a class="nav-link" href="home-starter-page.html">Home</a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Congress 113
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="house-data.html">House Data</a>
                                <a class="dropdown-item" href="senate-data.html">Senate Data</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attendance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">House</a>
                                <a class="dropdown-item" href="senate-attendance-starter-page.html">Senate <span class="sr-only">(current)</span></a>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Party Loyalty
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="house-party-loyalty-starter-page.html">House</a>
                              <a class="dropdown-item" href="senate-party-loyalty-starter-page.html">Senate</a>
                          </div>
                      </li>
                  </ul>
      </nav>            
        <!--Table container-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
                    <h2>Attendance</h2>            
                    <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>
                    <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
                </div>
                <div class="col-md-5">
                    <h2>House at a glance</h2>
                    <table class="container" id="summary-table">
                      <thead>
                        <tr>
                          <th v-for="headerIndex in headers">
                            {{ headerIndex }}
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr v-for="memberIndex in members">
                            <td v-for="keyIndex in keys">
                              <p v-html="memberIndex[keyIndex]"></p>
                            </td>
                          </tr>
                        </tbody>
                  </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h2>Least Engaged (Bottom 10% Attendance)</h2>
                   <table class="container" id="least-loyal">
                      <thead>
                        <tr>
                          <th v-for="headerIndex in headers">
                            {{ headerIndex }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="memberIndex in members">
                          <td v-for="keyIndex in keys">
                            <p v-html="memberIndex[keyIndex]"></p>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>                
                <div class="col-m-5">
                    <h2>Most Engaged (Top 10% Attendance)</h2>
                    <table class="container" id="most-loyal">
                      <thead>
                        <tr>
                          <th v-for="headerIndex in headers">
                            {{ headerIndex }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="memberIndex in members">
                          <td v-for="keyIndex in keys">
                            <p v-html="memberIndex[keyIndex]"></p>
                          </td>
                        </tr>
                      </tbody>
                  </table>     
              </div>
          </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!--script src="pro-congress-113-house.js"></script-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="fetchvue.js"></script>
    <script src="miembrotable.js"></script>
    <script src="estadisticas.js"></script>
    <script src="script.js"></script>
</body>
</html>
