h1{
  position: absolute;
  margin-top: auto;
  font-size: 48px;
  margin: 0px 0 0 10px;
}

#logo{
  position: absolute;
  width: 200px;
  height: 200px;
  display: block;
  margin: 17% 0 0 75%;
}

#fondotitulo{
  border: 1px solid gray;
  display: block;
  width: 100%;
  height: 280px;
}

article{
  display: block;
  width: 100%;
}
h2 {
  border: 1px solid gray;
  width: 100%;
  height: 100px;
  background-color: black;
  font-size: 48px;
  color: white;
  text-align: center;
  line-height: 80px;
  display: block;
  margin-top: auto;
}

div{
  display: block;
  float:left;
  width: 80%;
}

div p{
  text-indent: 2%;
}

nav{
  display: block;
  float: left;
  width: 20%;
}

.link{
  display: block;
  height: 75px;
  width: 100%;
}


