<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>House Loyal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    
    <body id="house">
        <header class="jumbotron">
                <h1>TGIF</h1>
      <div class="header-email"><a href="mailto:info@tgif.net">info@tgif.net</a></div>
          </header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="navbar-nav mr-auto">
                        <a class="nav-link" href="home-starter-page.html">Home <span class="sr-only">(current)</span></a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Congress 113
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="house-data.html">House Data</a>
                                <a class="dropdown-item" href="senate-data.html">Senate Data</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attendance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="house-attendance-starter-page.html">House</a>
                                <a class="dropdown-item" href="senate-attendance-starter-page.html">Senate</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Party Loyalty
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">House Data</a>
                                <a class="dropdown-item" href="senate-party-loyalty-starter-page.html">Senate</a>
                            </div>
                        </li>
                    </ul>
                </nav>            
        <!--Table container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <h2>Party Loyalty</h2>
                    <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
                </div>
                <div class="col-md-5">
                    <h2>House at a glance</h2>
                    <table class="container" id="summary-table">
                      <thead>
                        <tr>
                          <th v-for="headerIndex in headers">
                            {{ headerIndex }}
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr v-for="memberIndex in members">
                            <td v-for="keyIndex in keys">
                              <p v-html="memberIndex[keyIndex]"></p>
                            </td>
                          </tr>
                        </tbody>
                  </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h2>Least Loyal (Bottom 10% of Party)</h2>
                    <table class="container" id="least-loyal">
                      <thead>
                        <tr>
                          <th v-for="headerIndex in headers">
                            {{ headerIndex }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="memberIndex in members">
                          <td v-for="keyIndex in keys">
                            <p v-html="memberIndex[keyIndex]"></p>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>                
                <div class="col-m-5">
                    <h2>Most Loyal (Top 10% of Party)</h2>
                    <table class="container" id="most-loyal">
                      <thead>
                        <tr>
                          <th v-for="headerIndex in headers">
                            {{ headerIndex }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="memberIndex in members">
                          <td v-for="keyIndex in keys">
                            <p v-html="memberIndex[keyIndex]"></p>
                          </td>
                        </tr>
                      </tbody>
                  </table>     
                </div>
                </div>
        </div>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <!--script src="pro-congress-113-house.js"></script-->
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="fetchvue.js"></script>
      <script src="miembrotable.js"></script>
      <script src="estadisticas.js"></script>
      <script src="script.js"></script>
</body>
</html>
