body {
  padding:0;
  margin:0;
}

h1 {
	position: fixed;
	display: block;
  font-size: 48px;
	font-family: fantasy;
	text-transform: uppercase;
	color: black;
	margin: 0;
	left: 16%;
	top: 11%;
	text-shadow: 1px -1px 0px lightgray,
							 -1px 2px 0px lightgray,
							 -2px 4px 0px lightgray,
							 -3px 6px 0px lightgray,
							 -4px 8px 0px lightgray,
							 -5px 10px 0px lightgray,
							 -6px 12px 0px lightgray,
							 -7px 14px 0px lightgray,
							 -8px 16px 0px lightgray,
							 -9px 18px 0px white,
							 -10px 20px 0px white;
}

header {
  position: fixed;
  display: block;
	background: url(design1_image1.jpg) top center;
	background-size: 100% 200px;
  z-index: 1;
  width: 100%;
  height: 200px;	
  margin: 0;
}

#logo {
  position: fixed;
  width: 180px;
  height: 180px;
  display: block;
  top: 2%;
	left: 1%;
}

nav {
	position: fixed;
	display: block;
  text-align: center;
  background-color: transparent;
  z-index: 1;
  width: 32%;
  top: 9%;
	left: 68%
	
}

.link {
	position: relative;
	display: inline-block;
  text-decoration: none;
	font-family: cursive;
  font-weight: 600;
	padding: 5px;
  font-size: 15px;
	color: white;
	margin-right: 5%;
	margin-bottom: 5%;
	text-align: center;
  background-color: blue;
	border-radius: 6px;
  border: 4px solid black;
	box-shadow: -7px 7px 12px 5px black;
}

.link:hover{
  color: black;
  background-color: white;
	border-top-color: gray;
	border-right-color: white;
	border-bottom-color: white;
	border-left-color: gray;

}

.linkactivo {
 	position: relative;
	display: inline-block;
  text-decoration: none;
	font-family: cursive;
  font-weight: 600;
	padding: 5px;
  font-size: 15px;
	color: white;
	margin-right: 5%;
	margin-bottom: 5%;
	text-align: center;
  background-color: chartreuse;
	border-radius: 6px;
  border: 4px solid black;
	box-shadow: -7px 7px 12px 5px black;
}

h2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100px;
  background-color: black;
  font-size: 48px;
	font-family: serif;
	font-style: italic;
  color: white;
  text-align: center;
  line-height: 90px;
  z-index: -1;
  top: 200px;
  margin: 0;
	padding: 0;
}

.contenidoindex {
  position: relative;
	display: block;
	background: url(design2_image1.jpg) top center,
							url(design2_image1.jpg) bottom center;
	background-repeat: repeat-x;
	background-size:  200px;
	background-color: powderblue;
	z-index: -1;
  top: 300px;
	width: 100%;
  height: 700px;
}

.contenidoindex p {
  position: relative;
	display: block;
	left: 15%;
	top: 18%;
	font-size: 32px;
	font-family: monospace;
  font-weight: 900;
	color: black;
	width: 80%;
	text-indent: 2%;
}

.contenidoindex em {
  position: relative;
	display: block;
	left: 8%;
	top: 20%;
	font-size: 45px;
	font-family: monospace;
  font-weight: 900;
	text-decoration: underline;
	color: black;
	width: 80%;
	text-indent: 2%;
}

.contenidoabout {
  background: url(design2_image1.jpg) top center,
							url(design2_image1.jpg) bottom center;
	background-repeat: repeat-x;
	background-size:  200px;
	background-color: powderblue;
  position: relative;
	display: block;
  z-index: -1;
  top: 300px;
	width: 100%;
  height: 1000px;
}

.contenidoabout h3 {
	position: relative;
	display: block;
	left: 8%;
	top: 125px;
	font-size: 40px;
	font-family: cursive;
  font-weight: 900;
	text-decoration: underline;
	color: black;
	width: 80%;
	text-indent: 2%;
	margin: 0;
	padding: 0;	
}

.contenidoabout p {
	position: relative;
	display: block;
	left: 15%;
	top: 130px;
	font-size: 30px;
	font-family: monospace;
  font-weight: 900;
	color: black;
	width: 80%;
	margin: 0;
	padding: 0;
	text-indent: 2%;
	
}

.contenidocontact {
  background: url("soccer_image2.jpg") top left,
							url("soccer_image3.jpg") top right;	
	background-repeat: no-repeat;
  background-size: 350px 360px;
	background-color: powderblue;
	position: relative;
	display: block;
  z-index: -1;
  top: 300px;
	width: 100%;
  height: 360px;
}


.contenidocontact p {
	position: relative;
	display: block;
	font-family: monospace;
  font-weight: 900;
  font-size: 30px;
	text-decoration: underline;
	color: black;
  width: 50%;
	margin: 0;
	padding: 0;
  top: 80px;
	left: 27%;
  height: 100px;	
}

.contenidorules {
	background: url(design2_image1.jpg) top center,
							url(design2_image1.jpg) bottom center;
	background-repeat: repeat-x;
	background-size:  200px;
	background-color: powderblue;
  position: relative;
	display: block;
  z-index: -1;
  top: 300px;
	width: 100%;
  height: 2750px;
}

.contenidorules h4 {
	position: relative;
	display: block;
	font-size: 20px;
	text-decoration: underline;	
	padding: 0;
}

.contenidorules p {
	position: relative;
	display: block;
	top: 125px;
	font-size: 35px;
	font-weight: 900;
	font-style: oblique;
	text-align: center;
	margin: 0;
	padding: 0;	
}

.contenidorules2 {
	position: relative;
	display: block;
	top: 150px;	
	width: 85%;
	left: 7.5%;		
	font-size: 16px;
}

.contenidorules2 span {
	font-weight: 900;
}

.listasquare {
	list-style-type: square;
}

.listasquare ul li {
	list-style-type: circle;
}

.listaalfabetica {
	list-style-type: lower-alpha;
}

.contenidogameinfo {
	background: url(design2_image1.jpg) top center,
							url(design2_image1.jpg) bottom center;
	background-repeat: repeat-x;
	background-size:  200px;
	background-color: powderblue;
	position: relative;
	display: block;
  top: 300px;
	width: 100%;
  height: 2020px;
}

.contenidogameinfo h3 {
  position: relative;
	display: block;
  text-align: center;
	top: 125px;
	font-size: 55px;
	font-family: serif;
  text-decoration: underline;
  font-weight: 800;
	width: 100%;
	margin: 0;
	padding: 0;	
}

.contenidogameinfo h4 {
  position: relative;
	display: block;
  left: 2%;
	top: 140px;
	font-size: 22px;
	font-family: sans-serif;
  font-style: oblique;  
  font-weight: 500;
	width: 50%;
	margin: 0;
	padding: 0;	
}

.tablasep {
  position: relative;
  display: block;
  left: 10%;
  width: 35%;
  top: 190px;
  border: 2px solid black;
}

.tablasep th {
	border: 2px solid black;
	text-transform: uppercase;
	border-collapse: collapse;
	width: 1%;
	color: white;
	text-align: center;
	background: gray;
}

.tablasep td {
	border: 1px solid black;
	font-weight: 900;
	text-align: center;
}

.tablaoct {
  position: relative;
  display: block;
  left: 55%;
  width: 35%;
	height: 244px;
  top: -58px;
  border: 2px solid black;
}

.tablaoct th {
	border: 2px solid black;
	text-transform: uppercase;
	border-collapse: collapse;
	width: 1%;
	color: white;
	text-align: center;
	background: gray;
}

.tablaoct td {
	border: 1px solid black;
	font-weight: 900;
	padding-bottom: 4px;
	text-align: center;
}

.tablalocation {
	position: relative;
  display: block;
  left: 18%;
	width: 65%;
	border: 4px solid black;
}

.tablalocation th {
	border: 2px solid black;
	text-transform: uppercase;
	background: gray;
	color: white;	
}

.tablalocation td {
	text-align: center;
	padding-right: 13px;
	padding-left: 13px;
	border: 1px solid black;
}

.tablalocation td iframe { 
  border: 0;
}

.contenidogameinfo2 {
	position: relative;
	display: block;
	width: 80%;
	left: 10%;
	top: -130px;
	font-size: 30px;
	height: 200px;
}

.contenidogameinfo2 span {
	font-weight: 900;
	text-decoration: underline;
}

.contenidogameinfo2 #mail {
	position: relative;
	display: block;
	left: 50%;
	width: 50%;
	top: -65px;
}

.contenidoregister {
	background: url(design2_image1.jpg) top center,
							url(design2_image1.jpg) bottom center;
	background-repeat: repeat-x;
	background-size:  200px;
	background-color: powderblue;
	position: relative;
	display: block;  
  top: 300px;
	width: 100%;
  height: 1400px;
  margin: 0;
  padding: 0;
}

.contenidoregister span {
  font-weight: 900;
}

.contenidoregister h3 {
  position: relative;
  display: block;
  top: 125px;
  width: 80%;
  left: 10%;
  text-align: center;
  font-size: 45px;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.formulario {
  position: relative;
  display: block;
  width: 80%;
  height: 820px;
  left: 10%;
  top: 155px;
  text-indent: 10%;
  border: 2px solid black;
}

.school {
  position: relative;
  display: block;
  top: 20px;
}

.position1 {
  position: relative;
  display: block;
  width: 44%;
  left: 2%;
  top: 33px;
}

.position2 {
  position: relative;
  display: block;
  width: 42%;
  left: 44%;
  top: -73px;
}

#uniforms {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 20%;
  left: 5%;
  top: -55px;  
}

.jersey {
  position: relative;
  display: block;
  width: 22%;
  left: 5%;
  top: -40px;
}

.shorts {
  position: relative;
  display: block;
  left: 35%;
  top: -210px;
  width: 22%;
}

#botonsubmit {
  position: relative;
  display: block;
  left: 45%;
  width: 10%;
  top: -170px;
  text-align: center;
}

.contenidoregister2 {
  position: relative;
  display: block;
  width: 90%;
  left: 5%;
  top: 180px;
  margin: 0;
  padding: 0;
}

.contenidoregister2 h4 {
  text-decoration: underline;
  text-align: center;
}

.firma {
  position: relative;
  display: block;
  width: 90%;
  left: 5%;
  top: 180px;
  margin: 0;
  padding: 0;
}

